table {
	border: solid 1px #fc0;
	border-collapse: collapse;
}

table caption {
	color: brown;
	font-weight: bold;
	font-size: 125%;
	text-transform: uppercase;
}

.footnote {
	font-size: 75%;
	color: #666;
}

table caption,
table th,
table td,
.footnote {
	font-family: Arial, Helvetica, sans-serif;
	padding: .5em;
}

table td {
	border: solid 1px #c96;
	text-align: right;
}


table th {
	background-color: #ec9;
	color: #630;
	border-bottom: solid 1px #c96;
}

table thead th {
	background: #fea;
	border-bottom: solid 3px #630;
}

table thead th a {
	color: #630;
	display: block;
	padding: 0 17px;
	background: #fea url(../images/arrow-up.gif) no-repeat right center;
}

table thead th.asc a {
	background: #fea url(../images/arrow-up-sel.gif) no-repeat right center;
}

table thead th.dsc a {
	background: #fea url(../images/arrow-dn-sel.gif) no-repeat right center;
}