* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#user-profile {
    width: 100%;
    height: 18%;
    background-color: #e24510;
    color: #faf0e6;
}

main {
    display: flex;
    width: 100%;
    height: 82%;
    background-color: #ffe4cd;
}

#text-editor {
    background-color: #fff8dc;
    flex-grow: 2;
}

textarea {
    margin: 2% 5% 2% 5%;
    height: 90%;
    width: 90%;
}

#explorer {
    background-color: #ffe4c4;
    flex-grow: 1;
}